force-app/main/default/flows/Case_Trigger_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Email Alert Used When Case Status</description>
        <name
    >Email_Alert_Will_be_Send_To_Opportunity_Owner_When_Case_Status_Gets_Changed</name>
        <label
    >Email Alert Will be Send To Opportunity Owner When Case Status Gets Changed</label>
        <locationX>3003</locationX>
        <locationY>903</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>If_User_Is_System_Administrator</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference
        >Case_Status_Change_Notification_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference
        >OpportunityOwnerIdCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue
        >Project Name - {!$Record.CaseNumber} - Status Change notification</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Custom_Notification_To_Case_Owner</name>
        <label>Send Custom Notification To Case Owner</label>
        <locationX>50</locationX>
        <locationY>870</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>If_User_Is_System_Administrator</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Fetch_Notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Case Successfully Closed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Case Status</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Account_Assignment_On_Case_Record</name>
        <label>Account Assignment On Case Record</label>
        <locationX>4340</locationX>
        <locationY>1091</locationY>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Registered_Business_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Parent_Case_Record.Registered_Business_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Entity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Parent_Case_Record.Entity_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Merchant_Site_Url__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Parent_Case_Record.Merchant_Site_Url__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Record.LOB__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Parent_Case_Record.LOB__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Parent_Case_Record.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Parent_Case_Record.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Parent_Case_Record.Opportunity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Record.Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Parent_Case_Record.Website__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Update_Case_Record_According_To_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Appproval</name>
        <label>Assignment Of Appproval</label>
        <locationX>3996</locationX>
        <locationY>2013</locationY>
        <assignmentItems>
            <assignToReference>Update_Case_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Sales_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Opportunity_Record_Of_Parent_Case.Sales_Approval__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Bank_Ops_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Opportunity_Record_Of_Parent_Case.Bank_Ops_Approval__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Risk_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Opportunity_Record_Of_Parent_Case.Risk_Approval__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Finance_Approval__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Opportunity_Record_Of_Parent_Case.Finance_Approval__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Sales_Team_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Opportunity_Record_Of_Parent_Case.Sales_Approval_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Bank_Ops_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>
                    Get_Opportunity_Record_Of_Parent_Case.Bank_Ops_Approval_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Risk_Team_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Opportunity_Record_Of_Parent_Case.Risk_Approval_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference
      >Update_Case_Record.Finance_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Opportunity_Record_Of_Parent_Case.Finance_Approval_Comments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Update_Case_Record_According_To_Queue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Bank_Ops_Queue_Id</name>
        <label>Assignment Of Bank Ops Queue Id</label>
        <locationX>3706</locationX>
        <locationY>1018</locationY>
        <assignmentItems>
            <assignToReference>Update_Case_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Bank_Ops_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Group_s_Developer_Name_For_Bank_Ops</name>
        <label>Assignment Of Group&apos;s Developer Name For Bank Ops</label>
        <locationX>1470</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>Group_Developer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bank_Ops_Queue</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name
    >Assignment_Of_Group_s_Developer_Name_For_Merchant_Onboarding</name>
        <label
    >Assignment Of Group&apos;s Developer Name For Merchant Onboarding</label>
        <locationX>1651</locationX>
        <locationY>117</locationY>
        <assignmentItems>
            <assignToReference>Group_Developer_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Onboarding_Team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Group_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_On_Board_Queue_Id</name>
        <label>Assignment Of On-Board Queue Id</label>
        <locationX>3832</locationX>
        <locationY>1562</locationY>
        <assignmentItems>
            <assignToReference>Update_Case_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_On_Boarding_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Owner_Id_Into_List</name>
        <label>Assignment Of Owner Id Into List</label>
        <locationX>507</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Send_Custom_Notification_To_Case_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Risk_Team_Queue_Id</name>
        <label>Assignment Of Risk Team Queue Id</label>
        <locationX>3731</locationX>
        <locationY>1258</locationY>
        <assignmentItems>
            <assignToReference>Update_Case_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Team_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Of_Sc_Queue_Id</name>
        <label>Assignment Of Sc Queue Id</label>
        <locationX>3712</locationX>
        <locationY>1129</locationY>
        <assignmentItems>
            <assignToReference>Update_Case_Record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Case_Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Sc_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Parent_Case_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Variable Used To Hold Collection Of User Ids.</description>
        <name>Assignment_Opportunity_Owner_User_Id</name>
        <label>Assignment Opportunity Owner (User Id)</label>
        <locationX>3424</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>OpportunityOwnerIdCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference
        >Iterate_Over_Opportunity_Owner_User_Id.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Iterate_Over_Opportunity_Owner_User_Id</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Completion_Assignment_Flase</name>
        <label>Case Completion Assignment Flase</label>
        <locationX>894</locationX>
        <locationY>1467</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderCaseFlag</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Iterate_Over_Case_Whose_Parent_Is_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Team_Member_Assignment</name>
        <label>Case Team Member Assignment</label>
        <locationX>1654</locationX>
        <locationY>723</locationY>
        <assignmentItems>
            <assignToReference>CaseTeamMember.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseTeamMember.TeamRoleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Case_Team_Role_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseTeamMember.MemberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_Team_Member_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Of_UserFlag</name>
        <label>Increment Of UserFlag</label>
        <locationX>407</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>UserCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Group_Team_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Order_Assignment_With_Next_Status</name>
        <label>Work Order Assignment With Next Status</label>
        <locationX>1706</locationX>
        <locationY>1446</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference
        >Get_Parent_Work_Order_Of_Case.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WorkOrderRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Reinitiated Internal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent_Work_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Work_Order_Case_Length_Assignment</name>
        <label>Work Order Case Length Assignment</label>
        <locationX>877</locationX>
        <locationY>1196</locationY>
        <assignmentItems>
            <assignToReference>WorkOrderCaseLength</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference
      >Check_Case_Status_For_Sales_Co_Ordinator</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Case_For_Status</name>
        <label>Check Case For Status</label>
        <locationX>2666</locationX>
        <locationY>1220</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_For_SC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_For__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sc_Queue</targetReference>
            </connector>
            <label>If Case For SC</label>
        </rules>
        <rules>
            <name>If_Case_For_Onboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_For__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Onboarding Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_On_Boarding_Queue</targetReference>
            </connector>
            <label>If Case For Onboarding</label>
        </rules>
        <rules>
            <name>If_Case_For_Bank_Ops_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_For__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bank Ops Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bank_Ops_Queue</targetReference>
            </connector>
            <label>If Case For Bank Ops Team</label>
        </rules>
        <rules>
            <name>If_Case_For_Risk_Team</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Case_For__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Risk Team</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Risk_Team_Queue</targetReference>
            </connector>
            <label>If Case For Risk Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Stage_Change_Or_Not</name>
        <label>Check Case Stage Change Or Not</label>
        <locationX>2485</locationX>
        <locationY>571</locationY>
        <defaultConnector>
            <targetReference>If_User_Is_System_Administrator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_Stage_Is_Not_New_And_Stage_Gets_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CaseVariable</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Get_Opportunity_Owner_User_Information</targetReference>
            </connector>
            <label>If Case Stage Is Not New And Stage Gets Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status</name>
        <label>Check Case Status</label>
        <locationX>1853</locationX>
        <locationY>426</locationY>
        <defaultConnector>
            <targetReference>If_User_Is_System_Administrator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_Is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC to MO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assignment_Of_Group_s_Developer_Name_For_Merchant_Onboarding</targetReference>
            </connector>
            <label>If Case Is Closed From SC To MO</label>
        </rules>
        <rules>
            <name>If_Case_Is_Closed_From_SC_To_BO</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC to BO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Assignment_Of_Group_s_Developer_Name_For_Bank_Ops</targetReference>
            </connector>
            <label>If Case Is Closed From SC To BO</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status_For_Sales_Co_Ordinator</name>
        <label>Check Case Status For Sales Co-Ordinator</label>
        <locationX>722</locationX>
        <locationY>1067</locationY>
        <defaultConnector>
            <targetReference
      >Iterate_Over_Case_Whose_Parent_Is_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_Is_Closed_Foe_Sales_Co_Ordinator</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference
        >Iterate_Over_Case_Whose_Parent_Is_Work_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC to MO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Iterate_Over_Case_Whose_Parent_Is_Work_Order.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC to BO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Iterate_Over_Case_Whose_Parent_Is_Work_Order.Work_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference
        >Iterate_Over_Case_Whose_Parent_Is_Work_Order.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >Fetch_Case_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Case_Completion_Assignment_Flase</targetReference>
            </connector>
            <label>If Case Is Closed Foe Sales Co-Ordinator</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Case_Status_If_Parent_Is_Work_Order</name>
        <label>Check Case Status If Parent Is Work Order</label>
        <locationX>2374</locationX>
        <locationY>997</locationY>
        <defaultConnector>
            <targetReference>Check_The_Context_Of_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_Comes_Under_To_Work_Order</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Job__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC to MO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SC to BO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Work_Order_Of_Case</targetReference>
            </connector>
            <label>If Case Comes Under To Work Order</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Is_Empty_Or_Not</name>
        <label>Check Record Is Empty Or Not</label>
        <locationX>2337</locationX>
        <locationY>1843</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Opportunity_Record_Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference
        >Get_Opportunity_Record_Of_Parent_Case</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_Of_Appproval</targetReference>
            </connector>
            <label>If Opportunity Record Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_The_Context_Of_Case</name>
        <label>Check The Context Of Case</label>
        <locationX>2433</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Case_Is_Created_First_Time</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Case_For__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Case_For_Status</targetReference>
            </connector>
            <label>If Case Is Created First Time</label>
        </rules>
        <rules>
            <name>Record_Created_First_Time_And_Is_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Is_Parent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Get_Opportunity_Record_Of_Parent_Case</targetReference>
            </connector>
            <label>Record Created First Time And Is Parent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Belongs_To_Queue_Or_Not</name>
        <label>Check User Belongs To Queue Or Not</label>
        <locationX>392</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Iterate_Over_Group_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User_Belongs_To_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference
          >Iterate_Over_Group_Team_Member.UserOrGroupId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_Of_UserFlag</targetReference>
            </connector>
            <label>If User Belongs To Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Count_Variable_Increased</name>
        <label>Check User Count Variable Increased</label>
        <locationX>1002</locationX>
        <locationY>532</locationY>
        <defaultConnector>
            <targetReference>Check_Case_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User_Count_Variable_Increaesed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_Notification</targetReference>
            </connector>
            <label>If User Count Variable Increaesed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_All_Case_Closed_Where_Work_Order_Is_Parent</name>
        <label>If All Case Closed Where Work Order Is Parent</label>
        <locationX>1333</locationX>
        <locationY>1333</locationY>
        <defaultConnector>
            <targetReference>Check_The_Context_Of_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_All_Case_Of_Sales_Order_Is_Cosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrderCaseFlag</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkOrderCaseLength</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference
        >Work_Order_Assignment_With_Next_Status</targetReference>
            </connector>
            <label>If All Case Of Sales Order Is Cosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_User_Is_System_Administrator</name>
        <label>Check System User Profile</label>
        <locationX>2376</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference
      >Check_Case_Status_If_Parent_Is_Work_Order</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case_Team_Role_Record</targetReference>
            </connector>
            <label>If User Is Not System Admin</label>
        </rules>
    </decisions>
    <description
  >Case Trigger Flow Run in After Insert and Update Whenever Case Owner is Bank Ops
        Status Will be In Progress</description>
    <environments>Default</environments>
    <formulas>
        <name>CaseUrlLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_560},
            FIND(&apos;/services&apos;,{!$Api.Partner_Server_URL_560})) &amp; {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <description
    >Check Weather Case Is New Or Old, This Variable Should Work On Update Only .
            Functionality : Whenever Case Status Changed, a Notification Will be Send to Opportunity
            Owner&apos;s Of Case .</description>
        <name>CaseVariable</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Case Trigger Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Trigger Flow</label>
    <loops>
        <name>Iterate_Over_Case_Whose_Parent_Is_Work_Order</name>
        <label>Iterate Over Case Whose Parent Is Work Order</label>
        <locationX>1097</locationX>
        <locationY>1118</locationY>
        <collectionReference
    >Fetch_Case_Where_Work_Order_Is_Parent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Work_Order_Case_Length_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >If_All_Case_Closed_Where_Work_Order_Is_Parent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Group_Team_Member</name>
        <label>Iterate Over Group Team Member</label>
        <locationX>647</locationX>
        <locationY>257</locationY>
        <collectionReference>Fetch_Group_Team_Member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Check_User_Belongs_To_Queue_Or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference
      >Check_User_Count_Variable_Increased</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Opportunity_Owner_User_Id</name>
        <label>Iterate Over Opportunity Owner User Id</label>
        <locationX>3176</locationX>
        <locationY>675</locationY>
        <collectionReference
    >Get_Opportunity_Owner_User_Information</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference
      >Assignment_Opportunity_Owner_User_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>
                Email_Alert_Will_be_Send_To_Opportunity_Owner_When_Case_Status_Gets_Changed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case_Team_Member_Record</name>
        <label>Create Case Team Member Record</label>
        <locationX>1984</locationX>
        <locationY>865</locationY>
        <connector>
            <targetReference
      >Check_Case_Status_If_Parent_Is_Work_Order</targetReference>
        </connector>
        <inputReference>CaseTeamMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Case_Record_Type</name>
        <label>Fetch Case Record Type</label>
        <locationX>1358</locationX>
        <locationY>1105</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Iterate_Over_Case_Whose_Parent_Is_Work_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales_Coordinator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Case_Where_Work_Order_Is_Parent</name>
        <label>Fetch Case Where Work Order Is Parent</label>
        <locationX>1701</locationX>
        <locationY>1091</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Case_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >Get_Parent_Work_Order_Of_Case.CreatedBy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Group_Team_Member</name>
        <label>Fetch Group Team Member</label>
        <locationX>892</locationX>
        <locationY>212</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Group_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Group_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_Notification</name>
        <label>Fetch Notification Records</label>
        <locationX>282</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_User_Record_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Send_Case_Status_Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_User_Record_Id</name>
        <label>Fetch User Record Id</label>
        <locationX>55</locationX>
        <locationY>675</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Of_Owner_Id_Into_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bank_Ops_Queue</name>
        <label>Get Bank Ops Queue</label>
        <locationX>3500</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Of_Bank_Ops_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bank_Ops_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Team_Role_Record</name>
        <label>Get Case Team Role Record</label>
        <locationX>1971</locationX>
        <locationY>696</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Team_Member_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Onboarding Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CaseTeamRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Record</name>
        <label>Get Group Record</label>
        <locationX>1186</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Group_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Group_Developer_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_On_Boarding_Queue</name>
        <label>Get On-Boarding Queue</label>
        <locationX>3523</locationX>
        <locationY>1570</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Of_On_Board_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Onboarding_Team</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Owner_User_Information</name>
        <label>Get Opportunity Owner User Information</label>
        <locationX>2747</locationX>
        <locationY>583</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Iterate_Over_Opportunity_Owner_User_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference
        >$Record.Opportunity__r.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record_Of_Parent_Case</name>
        <label>Get Opportunity Record Of Parent Case</label>
        <locationX>2750</locationX>
        <locationY>1465</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Is_Empty_Or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case_Record</name>
        <label>Get Parent Case Record</label>
        <locationX>4045</locationX>
        <locationY>1253</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Assignment_On_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Work_Order_Of_Case</name>
        <label>Get Parent Work Order Of Case</label>
        <locationX>2037</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference
      >Fetch_Case_Where_Work_Order_Is_Parent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Work_Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Team_Queue</name>
        <label>Get Risk Team Queue</label>
        <locationX>3546</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Of_Risk_Team_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Risk_Team_queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sc_Queue</name>
        <label>Get Sc Queue</label>
        <locationX>3513</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_Of_Sc_Queue_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SC_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record_According_To_Queue</name>
        <label>Update Case Record According To Queue</label>
        <locationX>4641</locationX>
        <locationY>1284</locationY>
        <inputReference>Update_Case_Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Work_Order</name>
        <label>Update Parent Work Order</label>
        <locationX>2302</locationX>
        <locationY>1362</locationY>
        <connector>
            <targetReference>Check_The_Context_Of_Case</targetReference>
        </connector>
        <inputReference>WorkOrderRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>2184</locationX>
        <locationY>147</locationY>
        <connector>
            <targetReference>Check_Case_Stage_Change_Or_Not</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <description
    >Text Template Is Used in Case Notification Action.</description>
        <name>Case_Status_Change_Notification_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Dear
            {!$Record.Opportunity__r.Owner.FirstName}&amp;nbsp;{!$Record.Opportunity__r.Owner.LastName}&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span
            style=&quot;font-size: 13px;&quot;&gt;This is in reference to case no &lt;/span&gt;&lt;a
            href=&quot;{!CaseUrlLink}&quot; rel=&quot;noopener noreferrer&quot;
            target=&quot;_blank&quot; style=&quot;font-size:
            13px;&quot;&gt;{!$Record.CaseNumber}&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;span
            style=&quot;font-size: 13px;&quot;&gt;The Status of the case has changed from
            &lt;/span&gt;&lt;strong style=&quot;font-size:
            13px;&quot;&gt;{!$Record.Status}&lt;/strong&gt;&lt;span style=&quot;font-size:
            13px;&quot;&gt; to &lt;/span&gt;&lt;strong style=&quot;font-size:
            13px;&quot;&gt;{!$Record__Prior.Status}&lt;/strong&gt;&lt;span style=&quot;font-size:
            13px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size:
            13px;&quot;&gt;Please reach out to the owner - {!$Record.Owner:User.FirstName}
            &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68,
            68, 68);&quot;&gt;{!$Record.Owner:User.LastName} &lt;/span&gt;&lt;span
            style=&quot;font-size: 13px;&quot;&gt; for the case for any
            clarification.&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AccountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CaseTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CaseTeamMember</objectType>
    </variables>
    <variables>
        <name>Group_Developer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection Variable Used To Hold User Id</description>
        <name>OpportunityOwnerIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TempVariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Update_Case_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>UserCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderCaseFlag</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderCaseLength</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>WorkOrderRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
